@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --color-purple: #554269;
  --color-brown: #76523c;
  --color-darker_brown: #4d3c32;
  --color-blue: #443ba3;
  --color-blue_hover: #322c79;
  --color-red: #c33333;
  --color-red_hover: #882323;
}
