.alternatives {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.alternative-button {
  font-weight: 900;
  width: 300px;
  height: 100px;
}
